.expenseItem {
  background-color: #3b3b3b;
  padding: 1rem;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expenseItemData {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.expenseTitle {
  font-weight: bold;
  font-size: 1.1rem;
}

.expenseItemButtons {
  display: flex;
  gap: 0.5rem;
}

.expenseItemButtonsEdit,
.expenseItemButtonsDelete {
  background-color: #4ade80;
  color: #1e1e1e;
  cursor: pointer;
  transition: background 0.5s ease;
  border: none;
  padding: 0.25rem;
}