body {
    background-color: rgb(80, 80, 80);
}

.title {
    font-size: 4rem;
    text-align: center;
    color: #4ade80;
}

.nav {
    text-align: center;
    border-bottom: 1px solid #4ade80;
}

.nav li {
    display: inline-block;
    text-decoration: none;
    margin-right: 5rem;
    font-size: 1.5rem;    
}

.nav li a {
    text-decoration: none;
    color: white;
}