
.chartPage {
    background-color: #1e1e1e;
    height: 100rem;
    padding-top: 0.5rem;
}

.title {
    margin-bottom: 1rem;
    font-size: 3rem;
    text-align: center;
    color: #4ade80;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.chartBar {
    width: 50%;
}

.chartPie {
    width: 25%;
}