.expenseFormAmount,
.expenseFormSelect,
.expenseFormDescription,
.expenseFormDate,
.expenseFormSave,
.expenseFormCancel {
  display: block;
  width: 95%;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #3b3b3b;
  color: white;
}

.expenseFormSelect,
.expenseFormSave,
.expenseFormCancel {
    width: 100%;
}

.expenseFormAmount::placeholder,
.expenseFormDescription::placeholder,
.expenseFormDate::placeholder {
  color: #aaa;
}

.expenseFormSave,
.expenseFormCancel {
  background-color: #4ade80;
  color: #1e1e1e;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.5s ease;
}

.expenseFormSave:hover,
.expenseFormCancel:hover {
  background-color: #22c55e;
}