
body {
    color: white;
    background-color: rgb(31, 31, 31);
}

.transactions {
    background-color: rgb(31, 31, 31);
}

.transactions h1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 1rem;
    font-size: 2.5rem;
}

.recentTransactions, .addTransactions, .totals {
    margin-top: 5rem;
}

.flexContainer {
    display: flex;
    justify-content: space-around;
}